/* Global Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  padding: 0;

  /* Variables */
  --bg: hsl(248, 100%, 97%);
  --primary: #7267ef;
  --secondary: #dad6ff;
  --dark: #030522;
  --light: #fff;
  --gray: #aeaeae;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
  color: var(--dark);
}
